[submodule "crates/libmotiva/assets/followthemoney"]
	path = crates/libmotiva/assets/followthemoney
	url = https://github.com/opensanctions/followthemoney
[submodule "crates/libmotiva/assets/rigour"]
	path = crates/libmotiva/assets/rigour
	url = https://github.com/opensanctions/rigour
[submodule "crates/libmotiva/assets/fingerprints"]
	path = crates/libmotiva/assets/fingerprints
	url = https://github.com/opensanctions/fingerprints
