name: Build and test

on:
  workflow_call:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - uses: dtolnay/rust-toolchain@stable

      - name: Cache build artifacts
        id: build-artifacts
        uses: actions/cache@v4
        with:
          path: |
            .venv/
            target/
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
          key: "${{hashFiles('Cargo.lock', 'pyproject.toml')}}"

      - name: Check
        run: cargo check --all-features

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: Cache build artifacts
        id: build-artifacts
        uses: actions/cache@v4
        with:
          path: |
            .venv/
            target/
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
          key: "${{hashFiles('Cargo.lock', 'pyproject.toml')}}"

      - name: Lint
        run: cargo clippy --all-features -- -D warnings

  test:
    runs-on: ubuntu-latest
    needs: [check, lint]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-llvm-cov

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Cache build artifacts
        id: build-artifacts
        uses: actions/cache@v4
        with:
          path: |
            .venv/
            target/
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
          key: "${{hashFiles('Cargo.lock', 'pyproject.toml')}}"

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y libicu74 libicu-dev

      - name: Install the Python dependencies
        run: uv sync

      - name: Test
        run: cargo llvm-cov --locked --tests --lcov --output-path lcov.info

      - uses: coverallsapp/github-action@v2

  benches:
    runs-on: ubuntu-latest
    needs: [check, lint]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - uses: dtolnay/rust-toolchain@stable

      - name: Cache build artifacts
        id: build-artifacts
        uses: actions/cache@v4
        with:
          path: |
            .venv/
            target/
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
          key: "${{hashFiles('Cargo.lock', 'pyproject.toml')}}"

      - name: Benchmarks
        run: cargo bench --features benchmarks

  build:
    runs-on: ubuntu-latest
    needs: [check, lint]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - uses: dtolnay/rust-toolchain@stable

      - name: Cache build artifacts
        id: build-artifacts
        uses: actions/cache@v4
        with:
          path: |
            .venv/
            target/
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
          key: "${{hashFiles('Cargo.lock', 'pyproject.toml')}}"

      - name: Build
        run: cargo build --release --all-features

      - name: Upload binary artifact
        uses: actions/upload-artifact@v4
        with:
          name: motiva
          path: target/release/motiva
          retention-days: 7
