name: Main publishing

on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  test:
    uses: ./.github/workflows/build.yml
    secrets: inherit

  docker:
    uses: ./.github/workflows/docker.yml
    needs: [test]
    secrets: inherit
    with:
      tag: latest
